@import '../../assets/common-styles/common-styles.scss';

$navigation-bar-width: 298px;
$header-font-size: 45px;
$gap-size: 20px;
$padding-left: 10px;
$item-font-size: 25px;
$item-padding-y: 15px;

.navigation-bar {
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100vh;
	width: $navigation-bar-width;

	background: rgba(59, 59, 59, 0.18);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-right: 2px solid rgba(59, 59, 59, 0.7);

	&-header {
		@include star-wars-font-style;
		font-size: $header-font-size;
		text-align: center;
	}

	&-items {
		display: flex;
		flex-direction: column;
		gap: $gap-size;
		padding-left: $padding-left;

		a {
			font-size: $item-font-size;
			padding: $item-padding-y $padding-left;

			@include star-wars-font-style;
			text-decoration: none;

			background: rgba(17, 17, 17, 0.18);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
		}

		.active {
			background: rgba(149, 149, 149, 0.18) !important;
		}
	}
}

@mixin navigation-bar-RWD($multiplier: 1) {
	.navigation-bar {
		width: $navigation-bar-width * $multiplier;

		&-header {
			font-size: $header-font-size * $multiplier;
		}

		&-items {
			gap: $gap-size * $multiplier;
			padding-left: $padding-left * $multiplier;
		}

		a {
			font-size: $item-font-size * $multiplier;
			padding: $item-padding-y * $multiplier $padding-left * $multiplier;
		}
	}
}

@media (max-width: 1000px) {
	@include navigation-bar-RWD($media-width-1000-multiplier);
}

@media (max-width: 700px) {
	@include navigation-bar-RWD($media-width-700-multiplier);
}

@media (max-width: 400px) {
	@include navigation-bar-RWD($media-width-400-multiplier);
}
