@import '../../assets/common-styles/common-styles.scss';

$title-height: 150px;
$font-size: 80px;
$letter-spacing: 15px;

.list-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	&-title {
		@include star-wars-font-style;
		letter-spacing: $letter-spacing;
		font-size: $font-size;
		height: $title-height;
	}
}

@media (max-width: 1000px) {
	.list-page {
		&-title {
			letter-spacing: $letter-spacing * $media-width-1000-multiplier;
			font-size: $font-size * $media-width-1000-multiplier;
			height: $title-height * $media-width-1000-multiplier;
		}
	}
}

@media (max-width: 700px) {
	.list-page {
		&-title {
			letter-spacing: $letter-spacing * $media-width-700-multiplier;
			font-size: $font-size * $media-width-700-multiplier;
			height: $title-height * $media-width-700-multiplier;
		}
	}
}

@media (max-width: 400px) {
	.list-page {
		&-title {
			letter-spacing: $letter-spacing * $media-width-400-multiplier;
			font-size: $font-size * $media-width-400-multiplier;
			height: $title-height * $media-width-400-multiplier;
		}
	}
}
