@import '../../assets/common-styles/common-styles.scss';

$tile-width: 200px;
$tile-height: 380px;
$image-width-height: 200px;
$font-size: 30px;
$margin-top: 20px;
$margin-x-size: 40px;

$hover-multiplier: 1.1;

.presenting-tile {
	width: $tile-width;
	height: $tile-height;
	text-decoration: none;

	margin: 0 $margin-x-size;

	&-content {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		vertical-align: middle;

		transition: 0.3s;
		width: $tile-width;
		height: $tile-height;
	}

	&-image {
		@include avatar-border;
		height: $image-width-height;
		width: $image-width-height;
		transition: 0.3s;
	}

	&-name {
		@include star-wars-font-style;
		font-size: $font-size;
		margin-top: $margin-top;
		transition: 0.3s;
	}

	&:hover {
		&-content {
			width: $tile-width * $hover-multiplier;
			height: $tile-height * $hover-multiplier;
		}

		.presenting-tile-image {
			height: $image-width-height * $hover-multiplier;
			width: $image-width-height * $hover-multiplier;
			outline-color: rgb(1, 84, 250);
		}
	}
}

@media (max-width: 1000px) {
	$tile-width-media-1000: $tile-width * $media-width-1000-multiplier;
	$tile-height-media-1000: $tile-height * $media-width-1000-multiplier;
	$image-width-height-media-1000: $image-width-height *
		$media-width-1000-multiplier;

	.presenting-tile {
		width: $tile-width-media-1000;
		height: $tile-height-media-1000;

		margin: 0 $margin-x-size * $media-width-1000-multiplier;

		&-content {
			width: $tile-width-media-1000;
			height: $tile-height-media-1000;
		}

		&-image {
			@include avatar-border($media-width-1000-multiplier);
			height: $image-width-height-media-1000;
			width: $image-width-height-media-1000;
		}

		&-name {
			font-size: $font-size * $media-width-1000-multiplier;
			margin-top: $margin-top * $media-width-1000-multiplier;
		}

		&:hover {
			&-content {
				width: $tile-width-media-1000 * $hover-multiplier;
				height: $tile-height-media-1000 * $hover-multiplier;
			}

			.presenting-tile-image {
				height: $image-width-height-media-1000 * $hover-multiplier;
				width: $image-width-height-media-1000 * $hover-multiplier;
			}
		}
	}
}

@media (max-width: 700px) {
	$tile-width-media-700: $tile-width * $media-width-700-multiplier;
	$tile-height-media-700: $tile-height * $media-width-700-multiplier;
	$image-width-height-media-700: $image-width-height *
		$media-width-700-multiplier;

	.presenting-tile {
		width: $tile-width-media-700;
		height: $tile-height-media-700;

		margin: 0 $margin-x-size * $media-width-700-multiplier;

		&-content {
			width: $tile-width-media-700;
			height: $tile-height-media-700;
		}

		&-image {
			@include avatar-border($media-width-700-multiplier);
			height: $image-width-height-media-700;
			width: $image-width-height-media-700;
		}

		&-name {
			font-size: $font-size * $media-width-700-multiplier;
			margin-top: $margin-top * $media-width-700-multiplier;
		}

		&:hover {
			&-content {
				width: $tile-width-media-700 * $hover-multiplier;
				height: $tile-height-media-700 * $hover-multiplier;
			}

			.presenting-tile-image {
				height: $image-width-height-media-700 * $hover-multiplier;
				width: $image-width-height-media-700 * $hover-multiplier;
			}
		}
	}
}

@media (max-width: 400px) {
	$tile-width-media-400: $tile-width * $media-width-400-multiplier;
	$tile-height-media-400: $tile-height * $media-width-400-multiplier;
	$image-width-height-media-400: $image-width-height *
		$media-width-400-multiplier;

	.presenting-tile {
		width: $tile-width-media-400;
		height: $tile-height-media-400;

		margin: 0 $margin-x-size * $media-width-400-multiplier;

		&-content {
			width: $tile-width-media-400;
			height: $tile-height-media-400;
		}

		&-image {
			@include avatar-border($media-width-400-multiplier);
			height: $image-width-height-media-400;
			width: $image-width-height-media-400;
		}

		&-name {
			font-size: $font-size * $media-width-400-multiplier;
			margin-top: $margin-top * $media-width-400-multiplier;
		}

		&:hover {
			&-content {
				width: $tile-width-media-400 * $hover-multiplier;
				height: $tile-height-media-400 * $hover-multiplier;
			}

			.presenting-tile-image {
				height: $image-width-height-media-400 * $hover-multiplier;
				width: $image-width-height-media-400 * $hover-multiplier;
			}
		}
	}
}
