@import '../../assets/common-styles/common-styles.scss';

$gif-height-width: 500px;
$font-size: 30px;
$padding: 35px;
$border-radius: 16px;

.loading-page {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	&-container {
		height: fit-content;
		width: fit-content;

		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $padding;

		background: rgba(24, 24, 24, 0.2);
		border-radius: $border-radius;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(24, 24, 24, 0.3);

		img {
			border-radius: 50%;
			height: $gif-height-width;
			width: $gif-height-width;
		}

		p {
			@include star-wars-font-style;
			font-size: $font-size;
		}
	}
}

@media (max-width: 1000px) {
	.loading-page {
		&-container {
			padding: $padding * $media-width-1000-multiplier;
			border-radius: $border-radius * $media-width-1000-multiplier;

			img {
				height: $gif-height-width * $media-width-1000-multiplier;
				width: $gif-height-width * $media-width-1000-multiplier;
			}

			p {
				font-size: $font-size * $media-width-1000-multiplier;
			}
		}
	}
}

@media (max-width: 700px) {
	.loading-page {
		&-container {
			padding: $padding * $media-width-700-multiplier;
			border-radius: $border-radius * $media-width-700-multiplier;

			img {
				height: $gif-height-width * $media-width-700-multiplier;
				width: $gif-height-width * $media-width-700-multiplier;
			}

			p {
				font-size: $font-size * $media-width-700-multiplier;
			}
		}
	}
}
