@import './assets/common-styles/common-styles.scss';

$margin-left: 300px;

.main-page-container {
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
	width: calc(100% - $margin-left);
	min-height: 100vh;
	margin-left: $margin-left;
}

@media (max-width: 1000px) {
	.main-page-container {
		width: calc(100% - ($margin-left * $media-width-1000-multiplier));
		margin-left: $margin-left * $media-width-1000-multiplier;
	}
}

@media (max-width: 700px) {
	.main-page-container {
		width: calc(100% - ($margin-left * $media-width-700-multiplier));
		margin-left: $margin-left * $media-width-700-multiplier;
	}
}
