#root {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);
	background: url('./assets/images/space-background.webp');
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
}
